* {
  box-sizing: border-box;
}

html {
  font-family: "DM Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
}

body {
  margin: 0;
}
.forecast-list {
  margin-top: 2rem;
}

.forecast-grid {
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.forecast-item {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  padding: 1rem;
  width: 100px;
  text-align: center;
}
